@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');


/* const cifraDeCesar = (mensagem, deslocamento) => {
  let codifica = '';
  let resultado;

  for (let i = 0; i < mensagem.length; i++) {
    if (mensagem.charCodeAt(i) >= 65 && mensagem.charCodeAt(i) <= 90) {
      resultado = (((mensagem.charCodeAt(i) - 65) + deslocamento) % 26) + 65;
    }
    else if (mensagem.charCodeAt(i) >= 97 && mensagem.charCodeAt(i) <= 122) {
      resultado = (((mensagem.charCodeAt(i) - 97) + deslocamento) % 26) + 97;
    }
    else if (mensagem.charCodeAt(i) === 32) {
      resultado = 32;
    }
    codifica += String.fromCharCode(resultado);
  }
  return codifica.toLowerCase();
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
  --text-color: #000000;
  --main-color: #FF7F00;
  --bg-color: #C1C2C2;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.container {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: white;
  border-radius: 1.3rem;
  max-width: 117.4rem;
  width: 90%;
  margin: auto;
  height: auto;
}

form{
  padding-bottom: 4rem;
}

.cabecalho h1 {
  padding-top: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  line-height: 2.2rem;
  color: var(--main-color);
}

.cabecalho p {
  max-width: 66.4rem;
  width: 90%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin: 1.5rem auto 0 auto;
}


.seleciona-codigo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.seleciona-codigo select {
  max-width: 66.4rem;
  width: 90%;
  height: 4rem;
  border: 1px solid #757575;
  border-radius: 1.3rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.seleciona-codigo option {
  font-size: 1.6rem;
  color: #3A3A3A;
}

.adiciona {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
}

.adiciona input {
  max-width: 33.2rem;
  width: 90%;
  height: 4rem;
  border: 1px solid #757575;
  border-radius: 1.3rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.radio-inputs {
  display: flex;
  justify-content: center;
  gap: 5.7rem;
  margin-bottom: 1.8rem;
}

.radio-inputs label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3A3A3A;
}

.digita-mensagem,
.resultado-codigo {
  display: flex;
  align-items: center;
  flex-direction: column; 
  margin-bottom: 2.5rem;
}

textarea {
  max-width: 66.4rem;
  width: 90%;
  border: 1px solid #757575;
  border-radius: 1.3rem;
  padding: 1rem 2rem;
}

::placeholder {
  font-family: 'Roboto';
  font-size: 1.6rem;
  color: #3A3A3A;
}

#btnCode {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 3.2rem;
  border: none;
  background-color: var(--main-color);
  height: 6.7rem;
  max-width: 66.4rem;
  width: 90%;
  border-radius: 1.3rem;
  cursor: pointer;
  transition: 0.4s;
}

#btnCode:hover{
  background-color: var(--bg-color);
  color: var(--main-color);
}